---
import Layout from "../../layouts/layoutMain.astro";
import Contact from "../../components/contact";
import ImageHeader from "../../components/imageHeader";
---

<Layout title="Residential Washing">
  <ImageHeader
    title="Residential Washing"
    subtitle="Learn How We Help Homeowners Every Day"
    backgroundImage="/images/gallery/IMG_2018.jpg"
  />
  <section class="py-20 px-4 max-w-7xl mx-auto text-center">
    <h2 class="text-5xl font-bold mb-6">Why Clean?</h2>
    <p class="text-lg text-gray-600 max-w-2xl mx-auto">
      Over the years homes can become dirty. With dirt buildup, grime, and algea.
      All of these can cause homes to be more prone to damage and can harm the
      integrity of your foundation. We can help you restore your home to its
      original beauty. We offer a variety of services to help make your hose
      look the best on the block.
    </p>

    <ul
      class="grid sm:grid-cols-1 md:grid-cols-2 gap-6 text-gray-700 max-w-5xl mx-auto mt-8 text-left"
    >
      <li class="flex items-start gap-4">
        <div>
          <strong>Fast Turnaround:</strong> We respond quickly and clean efficiently,
          minimizing disruption to your schedule.
        </div>
      </li>
      <li class="flex items-start gap-4">
        <div>
          <strong>Care:</strong> Your home is our home, We take great care to protect
          your home from any damages.
        </div>
      </li>
      <li class="flex items-start gap-4"></li>
    </ul>
    <Contact />
  </section>
</Layout>
