---
import Layout from "../layouts/layoutMain.astro";
import ImageHeader from "../components/imageHeader";
import GoogleReviews from "../components/googelReviews";
import Contact from "../components/contact";
import Services from "../components/services";
import PhotoGallery from "../components/photoGallery";
---

<Layout title="About">
  <ImageHeader
    title="About Us"
    subtitle="How We Help people every day live a cleaner life"
    backgroundImage="/images/jjba.gif"
  />
  <section class="px-4 py-12 max-w-4xl mx-auto text-black">
    <h1 class="text-4xl font-bold mb-6 text-center">
      About Speedwagon Solutions
    </h1>
    <p class="mb-4">
      Our goal is to build long-lasting relationships with our clients by
      providing reliable, efficient, and affordable services.
    </p>
    <p class="mb-4">
      At Speedwagon Solutions, we offer a wide range of services tailored to
      meet the unique needs of our customers. From professional cleaning to
      specialized maintenance, we are committed to delivering top-notch
      solutions that exceed expectations. Our team takes pride in being flexible
      and accommodating, ensuring that we adapt to your specific requirements
      and schedule. Your satisfaction is our priority, and we strive to make
      every interaction seamless and stress-free.
    </p>
    <p class="mb-4">
      We keep you in the loop every step of the way, providing regular updates
      and clear communication. Our goal is to ensure that you feel informed and
      confident in the services we provide. We understand that your time is
      valuable, and we work diligently to complete our tasks efficiently. We
      work with you to check on our progress and make sure that we are meeting
      your needs. We are always available to answer any questions or address any
      concerns you may have. We believe that open communication is key to a
      successful partnership, and we want you to feel comfortable reaching out
      to us at any time.
    </p>
    <p class="mb-4">
      We are committed to your satisfaction. We believe that our services should
      be done right the first time, ensuring there are no return trips to fix
      mistakes. Our team takes pride in delivering thorough and precise work, so
      you can trust that the job is completed to the highest standards on our
      first visit.
    </p>
  </section>

  <Services client:visible />
  <!-- Section For Gallery Might make into a component -->
  <PhotoGallery client:load />
  <GoogleReviews client:idle />
  <Contact client:visible />
</Layout>
