---
import Layout from "../layouts/layoutMain.astro";
import Video from "../components/video.tsx";
import About from "../components/sections/about";
import Services from "../components/services";
import GoogleReviews from "../components/sections/googelReviews";
import Contact from "../components/contact.tsx";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Home">
  <div class="relative w-full h-full">
    <Video />
    <!-- <div class="absolute inset-0 flex items-center justify-center pointer-events-none">
			<HelloWorld />
		</div> -->
  </div>
  <About client:visible />
  <Services client:visible/>
  <GoogleReviews client:idle />
  <Contact client:visible />
</Layout>
